<!-- Section Edicion proyectos -->
<section id="editproyectos" class="proyectos">
  <div class="container ">
       <div class="row">
          <div class="col-10 mt-3 text-left">
            <h2>Proyectos Realizados</h2>
          </div>
          <div class="col-2 mt-3">
            <app-botonagregarproy></app-botonagregarproy>
          </div>
        </div>  
        <div class="proyecto" *ngFor="let proyectos of proy">
          <div class="row">
            <div class="col-9">
              <h3><b style="letter-spacing: 0px;"><span style="font-size: 25px;">{{proyectos.sector}}</span></b></h3>
              <h3><b style="letter-spacing: 0px;"><span style="font-size: 18px;">{{proyectos.tipo}}</span></b></h3>
            </div>
            <div class="col-3">
            <button type="button" class="btn btn-close-black">
               <i class="fa-solid fa-eraser" (click)="delete(proyectos.id)"></i>
            </button>
            </div>
          </div> 
          <div class="row" >  
                  <h3><b style="letter-spacing: 0px;"><span style="font-size: 18px;">{{proyectos.tiempo_ejecucion}}</span></b></h3>                             
          </div>
          <hr> 
        </div>         
  </div>
</section>