<!-- Section 1 -->
  <section id="section1" class="sobre-mi">
    <div class="container-fluid text-center">
      <div class="row mt-xl-5">
        <div class="col-3">
        </div>
        <div class="col-6 mt-3">
          <div class="area">
            ⚠ PortFolio ⚠
           </div> 
        </div>
        <div class="col-3">
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-2">
          <div class="row" >
            <div class="col-2"></div>
            <div class="col-8"><img [src]="imagen" class="rounded-circle w-50" alt="..." title="..."></div>
            <div class="col-2"></div>
          </div>
          <div class="row nombre">
            <h5>{{nombre}}</h5> <br>
            <h6>{{posicion}}</h6>
          </div>
        </div>
        <div class="col-6 mt-4">
          <h5>{{sobremi}}</h5>
        </div>
        <div class="col-3">
        </div>
      </div>
    </div>
  </section>
<!-- Fin Section 1 -->