section.habilidades{
  background-color: rgb(78, 90, 82)
}

div.seccionedit{
  background-color: rgb(133, 138, 134);
}

.row{
  --bs-gutter-x:0rem;
}
h2{
  background-color: rgb(133, 138, 134);
}

li.list-group-item{
  background-color: rgb(133, 138, 134);
  --bs-list-group-border-width: 0px;
}
list-group-item{
  border: 0 rem
}

