section.footer{
    background-color: rgb(78, 90, 82)
  }
li.list-group-item{
    background-color: rgb(78, 90, 82);
    height:2.5rem; 
}
ul.list-group.list-group-horizontal{
    align-items: center;
    margin-left: 2.5rem;
  }