<!-- Section 1 -->
<section id="section1" class="sobre-mi">
    <div class="container-fluid text-center pb-3">
      <div class="row mt-xl-5">
        <div class="col-3">
        </div>
        <div class="col-6 mt-3">
          <div class="area">
            ⚠ PortFolio ⚠
           </div> 
        </div>
        <div class="col-3">
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-2">
          <div class="row" >
            <div class="col-2"></div>
            <div class="col-8"><img src="./assets/img/Estado.jpg" class="rounded-circle w-50" alt="..." title="..."></div>
            <div class="col-2"></div>
          </div>
          <div class="row nombre">
            <h5>Toro Javier</h5> <br>
            <h6>Tecnico Electronico</h6>
          </div>
        </div>
        <div class="col-6 mt-4">
          <h5>Entusiasta de las tecnologias, siempre dispuesto a nuevos desarollos y aprendisajes de nuevas areas.<br>
              Soy tecnico Electronico, gran parte de mi trabajo es la reparacion de equipos de telefonia.<br>
              Autoditacta en temas de programacion con algunos conocimientos en programacion</h5>
              <li class="list-group-item"><i class="fa-regular fa-pen-to-square" type="button" data-bs-toggle="modal" data-bs-target="#ModalEditSobremi"></i></li>
        </div>
        <div class="col-3">
        </div>
      </div>
    </div>
  </section>
  <app-modeditsobremi></app-modeditsobremi>
  
<!-- Fin Section 1 -->
