<div class="modal fade" id="ModalEditSobremi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="ModalEditSobremiLabel">Edicion Sobremi</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
      <form>
        <div class="cambioimagen">
          <label for="formFile" class="form-label">Cambiar imagen perfil</label>
          <input class="form-control" type="file" id="formFile">
      </div>
      <div class="cambionombre">
          Cambio nombre<textarea class="form-control" id="textareasobremi" rows="3"></textarea>
      </div>
      <div class="sobremi">
        Editamos el texto sobremi <textarea class="form-control" id="textareasobremi" rows="3"></textarea>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
      </div>         
      </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Modal -->
