<div class="modal fade" id="ModalAgregarSobremi" tabindex="-1" aria-labelledby="ModalAgregarSobremi">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
          <h1 class="modal-title fs-5" >Modificar los datos personales</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
        </div>      
    <form [formGroup]="form" name="sobremiform" >
      <div class="modal-body">   
      <ul class="p-0">
        <li *ngFor="let sobremi of sobremi" class="d-flex justify-content-between align-items-center m-1 ">
          <span>{{sobremi.id}} {{sobremi.nombre}}</span>
          <span class="d-flex justify-content-between gap-2">
          <!--lapicito rojo que se cambia al tocarlo-->
            <button type="button" class="btn btn-sm btn-outline-success pl-1 pr-1 m-0" (click)="cargarDetalle(sobremi.id)">
              <i class="fa-solid fa-pen"></i>
            </button>
          </span>
        </li>
      </ul>  
          <div class="input-group mb-3 bg-light" *ngIf="!!form.value.id">
              <div class="input-group-prepend border-0">
                <span class="input-group-text border-0" id="basic-addon1">ID:</span>
              </div>
                  <input class="form-control outline-none border-0 bg-transparent" type="text" readonly formControlName="id">
          </div>

          <div class="input-group mb-3 bg-light" *ngIf="!!form.value.nombre">
            <div class="input-group-prepend border-0">
              <span class="input-group-text border-0" id="basic-addon1">Nombre</span>
            </div>
                <input class="form-control outline-none border-0 bg-transparent" type="text" readonly formControlName="nombre">
          </div>
        <div class="posicion">
          <label for="posicion" class="form-label">Titulo Personal</label>
          <input type="text" class="form-control" [readOnly]="disabledValue" id="posicion" placeholder="campo obligatorio" formControlName="posicion" 
          [ngClass]="{'is-invalid': form.get('posicion')?.errors && form.get('posicion')?.touched, 'is-valid': form.get('posicion')?.errors && form.get('posicion')?.touched}">
      <p class="text-danger" *ngIf="form.get('posicion')?.touched && form.get('posicion')?.errors?.['required']">
          La posicion actual es requerida.
      </p>
        </div>
        <div class="descripcion">
          <label for="Descripcion" class="form-label">Descripcion personal</label>
          <textarea class="form-control"[readOnly]="disabledValue" id="descripcion" placeholder="campo obligatorio" 
              formControlName="descripcion"
              [ngClass]="{'is-invalid': form.get('descripcion')?.errors && form.get('descripcion')?.touched, 
              'is-valid': form.get('descripcion')?.errors && form.get('descripcion')?.touched}">
          </textarea>
          <p class="text-danger"
              *ngIf="form.get('descripcion')?.touched && form.get('descripcion')?.errors?.['required']">
              Una descripción es requerida.
          </p>
      </div>
      <div class="mb-3">
              <label for="TituloAdquirido" class="form-label">Url de la Imagen de Perfil</label>
              <textarea class="form-control" [readOnly]="disabledValue" id="imagen" placeholder="campo obligatorio"
                  formControlName="imagen"
                  [ngClass]="{'is-invalid': form.get('imagen')?.errors && form.get('imagen')?.touched, 
                  'is-valid': form.get('imagen')?.errors && form.get('imagen')?.touched}">
              </textarea>
              <p class="text-danger"
                  *ngIf="form.get('imagen')?.touched && form.get('imagen')?.errors?.['required']">
                  Url de la Imagen de Perfil
              </p>
          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" (click)="form.reset()">RESET</button>
              <button class="btn btn-secondary" type="submit"  (click)="guardar()" >GUARDAR DATOS</button>
            </div>   
      </div>       
      </form>
    </div>
  
  </div>
</div>
<!-- Fin Modal -->

  <!-- Fin Modal -->
