<div class="modal fade" id="ModalAgregarhabilidad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
            <div class="agregarHabilidad">
                <label for="formFile" class="form-label">Nueva habilidad</label>
            </div>
            <div class="nuevahabilidad">
                Nueva Habilidad<textarea class="form-control" id="textareasobremi" rows="1"></textarea>
            </div>
            <div class="porcentaje">
              Porcentaje Habilidad Nueva<textarea class="form-control" id="textareasobremi" rows="1"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>
        </form>
      </div>
    
    </div>
  </div>