<div class="modal fade" id="modagrproy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
           
            <div class="area">
                Area del proyecto<textarea class="form-control" id="textareasobremi" rows="1"></textarea>
            </div>
            <div class="sector">
              Sector del proyecto<textarea class="form-control" id="textareasobremi" rows="1"></textarea>
            </div>
            <div class="tiempo">
                Tiempo de ejecucion<textarea class="form-control" id="textareasobremi" rows="1"></textarea>
              </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>
        </form>
      </div>
    
    </div>
  </div>