  <!-- Section Edicion Experiencias laborales -->
  <section id="editexplab" class="practicas">
    <div class="container  pb-2">
        <div class="row">
            <div class="row">
                <div class="col-10 mt-3 text-left">
                    <h2>Experiencias Laborales</h2>
                </div>
                <div class="col-2 mt-3">
                  <app-botagrtrabajo></app-botagrtrabajo>
                </div>
            </div>
            <div class="experiencia1">
                <div class="row">
                    <div class="col-9">
                        <h3><b style="letter-spacing: 0px;">Gervasoni Ingenieria</b></h3>
                    </div>
                    <div class="col-3">
                        <app-botonesedicion></app-botonesedicion>
                    </div>
                </div>
                <div class="row" >  
                    <div class="col-9 ">
                        <h3><b style="color: inherit; letter-spacing: 0px;"><span style="font-size: 18px;">Soporte Tecnico</span></b></h3>
                        <div>
                            <ul>
                                <li>Repracion de equipos de comunicacion e informatica</li>
                                <li>Atencion telefonica y soporte en comunicaciones</li>
                                <li>Instalacion de equipos telefonicos, camaras IP, redes i VoIP</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <h3><b style="color: inherit; letter-spacing: 0px;"><span style="font-size: 15px;">Marzo 2004 - Presente</span></b></h3>
                    </div>
                </div>
            </div>
        <hr>    
            <div class="experiencia2">
                <div class="row experiencia2">
                    <div class="row">
                <div class="col-9">
                    <h3><b style="color: inherit; letter-spacing: 0px;">Lazzarino Comunicaciones</b><br></h3>
                </div>
                <div class="col-3">
                    <app-botonesedicion></app-botonesedicion>
                </div>
                    </div>
                    <div class="row"> 
                    <div class="col-9 ">
                    <h3><b style="color: inherit; letter-spacing: 0px;"><span style="font-size: 18px;">Tecnico Instalador</span></b></h3>
                        <ul>
                            <li>Instalacion de alarmas<br></li>
                            <li>Cableado telefonico e instalacion de centrales telefonicas</li>
                            <li>Instalacion y reparacion de porteros electricos</li>
                        </ul>
                    </div>
                    <div class="col-3">
                    <h3><b style="color: inherit; letter-spacing: 0px;"><span style="font-size: 15px;">Marzo 2004 - Presente</span></b></h3>
                    </div>
                    </div>
                </div>
            </div>
        <hr>    
            <div class="experiencia3">
                <div class="row">
                <div class="col-9">
                    <h3><b style="color: inherit; letter-spacing: 0px;">Tunel Subfluvial</b></h3>
                </div>
                <div class="col-3">
                    <app-botonesedicion></app-botonesedicion>
                </div>
                </div>
                <div class="row">
                <div class="col-9">
                    <b style="color: inherit; letter-spacing: 0px;"><span style="font-size: 18px;">Full Stack Software Engineer</span></b>
                    <div>
                        <ul>
                          <li>Create and maintain software for all call centers of a major US cell phone provider<br></li>
                          <li>Owner of three separate applications for our product</li>
                          <li>Other tech: MongoDb, Heroku, Digital Ocean, Postman, CSS3, HTML5, Material Design</li>
                        </ul>
                    </div>                    
                </div>
                <div class="col-3">
                <span style="color: inherit; letter-spacing: 0px;">Sept 2017 - Oct 2018</span>
                </div>
                </div>
            </div>
            <!-- Termina el contenido-->
        </div>       
    </div>    
  </section>
  <!-- Fin Section edicion Experiencias Laborales -->
  
