  <!-- Section Edicion Experiencias laborales -->
  <section id="editexplab" class="practicas">
    <div class="container  pb-2">
         <div class="row">
                <div class="col-10 mt-3 text-left mb-1 seccionedit">
                    <h2>Experiencias Laborales</h2>
                </div>
                <div class="col-2 mt-3 mb-1 seccionedit ml-5">
                    <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">
                        <i class="fa-solid fa-file-circle-plus" type="button" data-bs-toggle="modal" data-bs-target="#ModalAgregarTrabajo" ></i>
                    </li>
                    <app-modagretrab></app-modagretrab>
                    <li class="list-group-item ">
                        <i class="fa-solid fa-pen" type="button" data-bs-toggle="modal" data-bs-target="#ModalEdicionTrabajo" ></i>
                    </li>
                    <app-modal-edicion-trabajo></app-modal-edicion-trabajo>
                    </ul>
                </div>
        </div>
        <div class="experiencia1" *ngFor="let trabajos of trabajo">
                <div class="row">
                    <div class="col-9">
                        <h3><b style="letter-spacing: 0px;">{{trabajos.empresa}} </b></h3>
                    </div>
                    <div class="col-3">
                            <button type="button" class="btn btn-close-black">
                            <i class="fa-solid fa-eraser" (click)="delete(trabajos.id)"></i>
                            </button>
                    </div>                
                    <div class="row">
                        <h2><b style="letter-spacing: 0px;"><span style="font-size: 15px; background: dimgrey;">Fechas en que se realizo estos trabajos:</span></b></h2>
                        <h3><b style="letter-spacing: 0px;"><span style="font-size: 18px;">Desde el {{trabajos.fecha_inicio}} - Hasta el {{trabajos.fecha_fin}}</span></b></h3>
                    </div>
                    <div class="row" >
                        <h4><b style="letter-spacing: 0px;"><span style="font-size: 15px;background: dimgrey;">Trabajos realizados en esta empresa:</span></b></h4>
                        <h4><b style="letter-spacing: 0px;"><span style="font-size: 18px;">{{trabajos.trabajo}}</span></b></h4>
                    </div>                 
                </div>       
            <hr> 
        </div> 
    </div> 
</section>
  <!-- Fin Section edicion Experiencias Laborales -->
  
