section.practicas{
    background-color: rgb(78, 90, 82)
}
h3{
    text-align: left;
}
div.seccionedit{
    background-color: rgb(133, 138, 134);
}
div.col-2{
    text-align: center;
    font-weight: bold;
    
  }
.row{
    --bs-gutter-x:0rem;
  }
/* Esto lo saque del inspeccionador para los botones */

  li.list-group-item{
    background-color: rgb(133, 138, 134);
    --bs-list-group-border-width: 0px;
}
list-group-item{
    border: 0 rem
}