<ul class="list-group list-group-horizontal ms-auto">
    <a href="https://www.instagram.com/javierto38?igshid=ZDdkNTZiNTM=" target="_blank">
      <li class="list-group-item instagram"><i class="fa-brands fa-instagram"></i></li>
    </a>
    <a href="https://www.linkedin.com/in/javier-toro-314069128" target="_blank">
      <li class="list-group-item"><i class="fa-brands fa-linkedin"></i></li>
    </a>
    <a href="https://github.com/Jaavii43" target="_blank">
      <li class="list-group-item github"><i class="fa-brands fa-github"></i></li>
    </a>
  </ul>
  