<div class="modal fade" id="modagrest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
            <div class="agregarHabilidad">
                Nuevo Estudio
            </div>
            <div class="cambionombre">
                Donde se realizo<textarea class="form-control" id="textest" rows="2"></textarea>
            </div>
            <div class="cambiofecha">
            Fecha de inicio<input type="date" id="start" name="trip-start"
                value="2018-07-22"
                min="2018-01-01" max="2018-12-31">
            </div>
            <div class="cambiofechafin">
                Fecha de finalizacion<input type="date" id="start" name="trip-start"
                    value="2018-07-22"
                    min="2018-01-01" max="2018-12-31">
                </div>
            <div class="descripcion">
                Descripcion del estudio<textarea class="form-control" id="descripEstudio" rows="3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>
        </form>
      </div>
    
    </div>
  </div>