
<div class="modal fade" id="ModalAgregarPersona" tabindex="-1" aria-labelledby="ModalAgregarPersona">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" >Modificar los datos de acceso</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
          </div>      
      <form [formGroup]="form" name="sobremiform" >
        <div class="modal-body">   
        <ul class="p-0">
            <li *ngFor="let sobremi of sobremi" class="d-flex justify-content-between align-items-center m-1 ">
              <span>{{sobremi.id}} {{sobremi.nombre}}</span>
              <span class="d-flex justify-content-between gap-2">
              <!--lapicito rojo que se cambia al tocarlo-->
                <button type="button" class="btn btn-sm btn-outline-success pl-1 pr-1 m-0" (click)="cargarDetalle(sobremi.id)">
                  <i class="fa-solid fa-pen"></i>
                </button>
              </span>
            </li>
          </ul>    
        
        <div class="input-group mb-3 bg-light" *ngIf="!!form.value.id">
                <div class="input-group-prepend border-0">
                  <span class="input-group-text border-0" id="basic-addon1">ID:</span>
                </div>
                    <input class="form-control outline-none border-0 bg-transparent" type="text" readonly formControlName="id">
            </div>
  
            <div class="input-group mb-3 bg-light" *ngIf="!!form.value.nombre">
              <div class="input-group-prepend border-0">
                <span class="input-group-text border-0" id="basic-addon1">Nombre</span>
              </div>
                  <input class="form-control outline-none border-0 bg-transparent" type="text" readonly formControlName="nombre">
          </div>
          <div class="email">
            <label for="clave" class="form-label">Modifique el correo de acceso</label>
            <input type="text" class="form-control" id="email" placeholder="campo obligatorio" formControlName="email" 
            [ngClass]="{'is-invalid': form.get('email')?.errors && form.get('email')?.touched, 
            'is-valid': form.get('email')?.errors && form.get('email')?.touched}">
        <p class="text-danger" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']">
            El email para el acceso es requerido
        </p>
          </div>
          <div class="clave">
            <label for="clave" class="form-label">Edite la clave o cree una nueva</label>
            <input type="text" class="form-control" id="clave" placeholder="campo obligatorio" formControlName="clave"
                [ngClass]="{'is-invalid': form.get('clave')?.errors && form.get('clave')?.touched, 
                'is-valid': form.get('clave')?.errors && form.get('clave')?.touched}">
            <p class="text-danger"
                *ngIf="form.get('clave')?.touched && form.get('clave')?.errors?.['required']">
                La clave es requerida
            </p>
        </div>

            <div class="modal-footer">
              <button class="btn btn-secondary" (click)="form.reset()">RESET</button>
              <button class="btn btn-secondary" (click)="guardar()" >GUARDAR DATOS</button>
              </div>   
        </div>          
        </form>
      </div>
    
    </div>
  </div>
  <!-- Fin Modal -->
  
   