<!-- Section habilidades -->
<section id="habili" class="habilidades">
    <div class="container pb-2">
      <div class="row">
          <div class="col-12 mt-3 text-left">
              <h2><b>Habilidades adquiridas</b></h2>
          </div>
      </div>
      <div class="row" >
          <div class="col-3 mb-2 " *ngFor="let habilidade of habilidad" >
              <div class="progress-circle-container">
                  <div class="row">
                    <div class="col-12">                          
                        <circle-progress [percent]="habilidade.porcentaje"
                            [subtitle]="habilidade.area"></circle-progress>
                    </div>
                  </div>
                </div>
           </div>
      </div>
    </div>
  </section>
<!-- Fin Section habilidades -->