<!-- Section habilidades -->
<section id="habilidades" class="habilidades">
    <div class="container">
      <div class="row">
          <div class="col-12 mt-3 text-left">
              <h2>Habilidades adquiridas</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-12 mb-2">
              <div class="progress-circle-container">
                  <div class="row">
                      <div class="col-2">
                          <div class="progress-circle progress-30">
                              <span>CSS</span>
                          </div>
                      </div>
                      <div class="col-2">
                          <div class="progress-circle progress-40">
                              <span>HTML</span>
                          </div>
                      </div>
                      <div class="col-2">
                          <div class="progress-circle progress-45">   
                              <span>Angular</span>
                          </div>
                      </div>
                      <div class="col-2">
                          <div class="progress-circle progress-50">
                              <span>Java</span>
                          </div>
                      </div>
                      <div class="col-2">
                          <div class="progress-circle progress-80">
                              <span>Sistemas</span>
                          </div>
                      </div>
                      <div class="col-2">
                          <div class="progress-circle progress-95">
                              <span>Redes</span>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-2">
                      <span>30 %</span>
                      </div>
                      <div class="col-2">
                      <span>40 %</span>
                      </div>
                      <div class="col-2">
                      <span>45 %</span>
                      </div>
                      <div class="col-2">
                      <span>50 %</span>
                      </div>
                      <div class="col-2">
                      <span>80 %</span>
                      </div>
                      <div class="col-2">
                      <span>95 %</span>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </section>
<!-- Fin Section habilidades -->