<section id="educacion" class="educacion">
    <div class="container pt-3">
        <div class="tituloSeccion">
            <div class="row text-left">
            <h2>Estudios Cursados</h2>
            </div>
        </div>
        <div class="cursado1">
                <div class="row">
                  <h3><b style="letter-spacing: 0px;"><span style="font-size: 25px;">Escuela secundaria</span></b></h3>
                  <h3><b style="letter-spacing: 0px;"><span style="font-size: 20px;">Escuela Dr Nicolas Avellaneda</span></b></h3>
                </div>
                <div class="row" >  
                        <h3><b style="color: inherit; letter-spacing: 0px;"><span style="font-size: 18px;">Tecnico en Electronica</span></b></h3>
                        <h3><b style="color: inherit; letter-spacing: 0px;"><span style="font-size: 18px;">1991 - 1997</span></b></h3>
                              
                </div>
        </div>
        <hr>    
        <div class="cursado2">
            <div class="row cursado2">
              <h3><b style="letter-spacing: 0px;"><span style="font-size: 25px;">Escuela primaria</span></b><br></h3>
              <h3><b style="letter-spacing: 0px;"><span style="font-size: 20px;"></span>Escuela Amenabar</b></h3>
            </div>
            <div class="row">
                    <h3><b style="color: inherit; letter-spacing: 0px;"><span style="font-size: 18px;">Cursado 7° Grado</span></b></h3>
                    <h3><b style="color: inherit; letter-spacing: 0px;"><span style="font-size: 18px;">1990</span></b></h3>
            </div>
        </div>
        <hr>    
        <div class="cursado3">
                <div class="row">
                  <h3><b style="color: inherit; letter-spacing: 0px;">Argentina Programa</b></h3>
                </div>
                <div class="row">
                    <h3><b style="letter-spacing: 0px;"><span style="font-size: 18px;">Primera Etapa Argentina Programa</span></b></h3>
                    <h3><b style="letter-spacing: 0px;"><span style="font-size: 15px;">11 de Junio 2022</span></b></h3>
                </div>
        </div>
    </div>
  </section>