<section id="educacion" class="educacion">
    <div class="container pb-2">
      <div class="row">
              <div class="col-12 mt-3 text-left estudios">
              <h2><b>Estudios Cursados</b></h2>
              </div>
      </div>
      <div class="cursado" *ngFor="let educacion of educa">
        <div class="row">
                  <h3><b style="letter-spacing: 0px;"><span style="font-size: 25px;">{{educacion.escuela}}</span></b></h3>
                  <h3><b style="letter-spacing: 0px;"><span style="font-size: 20px;">{{educacion.descripcion}}</span></b></h3>
        </div>
        <div class="row" >  
          <h3><b style="letter-spacing: 0px;"><span style="font-size: 18px;">{{educacion.fecha_fin}}</span></b></h3>
          <h3><b style="letter-spacing: 0px;"><span style="font-size: 18px;">{{educacion.fecha_inicio}} - {{educacion.titulo}}</span></b></h3>                
        </div>
            <hr>
        </div>
      </div>
  </section>