<div class="modal fade" id="ModalEdicionTrabajo" tabindex="-1" aria-labelledby="ModalAgregarTrabajo">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" >Editar Experiencias Laborales</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
        </div>
        <form [formGroup]="form" name="trabajoform">
          <div class="modal-body"> 
            <ul class="p-0">
              <li *ngFor="let trabajo of trabajos" class="d-flex justify-content-between align-items-center m-1 ">
                <span>{{trabajo.id}} {{trabajo.empresa}}</span>
                <span class="d-flex justify-content-between gap-2">
                <!--lapicito rojo que se cambia al tocarlo-->
                  <button type="button" class="btn btn-sm btn-outline-success pl-1 pr-1 m-0" (click)="cargarDetalle(trabajo.id)">
                    <i class="fa-solid fa-pen"></i>
                  </button>
                </span>
              </li>
            </ul>
          <!--esto es la validacion  renderizado condicional-->
          <div class="input-group mb-3 bg-light" *ngIf="!!form.value.id">
            <div class="input-group-prepend border-0">
              <span class="input-group-text border-0" id="basic-addon1">ID:</span>
            </div>
            <input class="form-control outline-none border-0 bg-transparent" type="text" readonly formControlName="id">
          </div>


          <div class="mb-3">
            <label for="empresa" class="form-label">Empresa en la que se realizo el trabajo</label>
            <input type="text" class="form-control" id="empresa" placeholder="campo obligatorio" formControlName="empresa"
                [ngClass]="{'is-invalid': form.get('empresa')?.errors && form.get('empresa')?.touched, 
                  'is-valid': form.get('empresa')?.errors && form.get('empresa')?.touched}">
            <p class="text-danger" *ngIf="form.get('empresa')?.touched && form.get('empresa')?.errors?.['required']">
                El Nombre de la empresa es requerido.
            </p>
         </div>
          <div class="fecha_inicio">
            Fecha de inicio<input type="date" class="form-control" id="fecha_inicio" name="trip-start" formControlName="fecha_inicio"
              value="2018-07-22" min="1990-01-01" max="2023-12-31" >
          </div>
          <div class="fecha_fin">
            Fecha de finalizacion<input type="date" class="form-control" id="fecha_fin" name="trip-start" formControlName="fecha_fin"
                  value="2018-07-22" min="1990-01-01" max="2023-12-31">
          </div>
          <div class="mb-3">
            <label for="descripcionTrabajo" class="form-label">Descripción del Trabajo realizado</label>
            <textarea class="form-control" id="trabajo" placeholder="campo obligatorio" formControlName="trabajo"
                    [ngClass]="{'is-invalid': form.get('trabajo')?.errors && form.get('trabajo')?.touched, 
                     'is-valid': form.get('trabajo')?.errors && form.get('trabajo')?.touched}">
            </textarea>
            <p class="text-danger" *ngIf="form.get('trabajo')?.touched && form.get('trabajo')?.errors?.['required']">
                    Una descripción del trabajo es requerida.
             </p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" (click)="form.reset()">RESET</button>  
              <button class="btn btn-secondary" type="submit" (click)="guardar()" [disabled]="form.invalid">GUARDAR DATOS</button>
              </div>   
            </div>         
        </form>
      </div>
    
    </div>
  </div>
  <!-- Fin Modal -->
