section.sobre-mi{
    background-image: url('/assets/img/background-2426328.jpg');
    background-size: 100%;
    min-height: 40vh;
    color: rgb(231, 39, 39);
    text-shadow: rgb(243, 239, 239) 0.1em 0.1em 0.2em
}
div.row.nombre{
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 0.5em 0.5em 0.5em;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Banner */

.area{
  text-align:center;
  font-size:3em;
  color:#fff;
  letter-spacing: 0px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur .75s ease-out infinite;
  text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 0px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}
/* Fin Banner */
