  <!-- Section trabajos -->
  <section id="trabajos" class="trabajos">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3 text-left">
            <h2><b>Expericencias Laborales</b></h2>
            </div>
            <div class="experiencia1">
                <div class="row">
                    <h3><b style="letter-spacing: 0px;">Gervasoni Ingenieria</b></h3>
                </div>
                <div class="row" >  
                    <div class="col-9 ">
                        <h3><b style="color: inherit; letter-spacing: 0px;"><span style="font-size: 18px;">Soporte Tecnico</span></b></h3>
                        <div>
                            <ul>
                                <li>Repracion de equipos de comunicacion e informatica</li>
                                <li>Atencion telefonica y soporte en comunicaciones</li>
                                <li>Instalacion de equipos telefonicos, camaras IP, redes i VoIP</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <h3><b style="letter-spacing: 0px;"><span style="font-size: 15px;">Marzo 2004 - Presente</span></b></h3>
                    </div>
                </div>
            </div>
        <hr>    
            <div class="experiencia2">
                <div class="row experiencia2">
                    <div class="row">
                      <h3><b style="color: inherit; letter-spacing: 0px;">Lazzarino Comunicaciones</b><br></h3>
                    </div>
                    <div class="row"> 
                    <div class="col-9 ">
                    <h3><b style="color: inherit; letter-spacing: 0px;"><span style="font-size: 18px;">Tecnico Instalador</span></b></h3>
                        <ul>
                            <li>Instalacion de alarmas<br></li>
                            <li>Cableado telefonico e instalacion de centrales telefonicas</li>
                            <li>Instalacion y reparacion de porteros electricos</li>
                        </ul>
                    </div>
                    <div class="col-3">
                    <h3><b style="letter-spacing: 0px;"><span style="font-size: 15px;">Marzo 2003 - Marzo 2004 </span></b></h3>
                    </div>
                    </div>
                </div>
            </div>
        <hr>    
            <div class="experiencia3">
                <div class="row">
                  <h3><b style="letter-spacing: 0px;">Tunel Subfluvial</b></h3>
                </div>
                <div class="row">
                <div class="col-9">
                    <b style="letter-spacing: 0px;"><span style="font-size: 18px;">Censista</span></b>
                    <div>
                        <ul>
                          <li>Censo de cargas y transporte a comiones</li>
                        </ul>
                    </div>                    
                </div>
                <div class="col-3">
                <h3><b style="letter-spacing: 0px;"><span style="font-size: 15px;">Enero 1997</span></b></h3>
                </div>
                </div>
            </div>
            <!-- Termina el contenido-->
        </div>       
    </div>    
  </section>
  <!-- Fin Section 2 -->